<div id="design-react-root"></div>
<header>
    <div class="logo">малое инновационное предприятие</div>
    <nav>
        <span class="nav_link" data-scrollTo="about_caption">О КОМПАНИИ</span>
        <span class="nav_link" data-scrollTo="stages">СТАДИИ ПРОЕКТОВ</span>
        <span class="nav_link" data-scrollTo="specinstrument">СПЕЦИНСТРУМЕНТ</span>
        <span class="nav_link" data-scrollTo="contacts">КОНТАКТЫ</span>
    </nav>
</header>
<div class="about">
    <div class="about_caption" id="about_caption">О КОМПАНИИ</div>
    <div class="about_text">
        <p>Мы занимаемся внедрением и коммерциализацией научных разработок в производственные циклы предприятий. Готовы проводить научно-исследовательские работы на площадях института, имеем большой парк современного и уникального лабораторного оборудования.</p>
        <p>Проектируем и производим оборудование высокого давления для изостатического прессования.</p>
        <p>Мы первыми в России начали применение данной технологии в пищевом секторе для увеличения сроков годности и обеззараживания продуктов (метод холодной пастеризации). Имеем большой опыт в производстве специнструмента, технологической оснастки и нестандартного оборудования по чертежам заказчика.</p>
    </div>
</div>
<div class="stages" id="stages">
    <div class="stages_caption">СТАДИИ ПРОЕКТОВ (НИР)</div><br/>
    <div class="stages_description">
        <div class="stages_description_img"></div>
        <div class="stages_description_text">
            <p class="stages_description_text_p1">Готовые к внедрению в производства</p>
            <p class="stages_description_text_p2">Разработки находящиеся в высокой степени готовности</p>
            <p class="stages_description_text_p3">Готовы решать сложные технологические задачи для Вашего производства, разработать способы внедрения новых технологий. Научные исследования проходят на площадях УрО РАН на современном оборудование, в короткие сроки.</p>
        </div>
    </div><br/>
    <div class="stages_icons">
        <div class="stages_icon_container">
            <div class="stages_icon_image stages_icon_image_metallurgy"></div><br/>
            <div class="stages_icon_caption">Металлургия</div>
        </div>
        <div class="stages_icon_container">
            <div class="stages_icon_image stages_icon_image_mech"></div><br/>
            <div class="stages_icon_caption">Машиностроение</div>
        </div>
        <div class="stages_icon_container">
            <div class="stages_icon_image stages_icon_image_food"></div><br/>
            <div class="stages_icon_caption">Пищевое производство</div>
        </div>
        <div class="stages_icon_container">
            <div class="stages_icon_image stages_icon_image_oil"></div><br/>
            <div class="stages_icon_caption">Нефтедобыча</div>
        </div>
        <div class="stages_icon_container">
            <div class="stages_icon_image stages_icon_image_medicine"></div><br/>
            <div class="stages_icon_caption">Медицина</div>
        </div>
        <div class="stages_icon_container">
            <div class="stages_icon_image stages_icon_image_repair"></div><br/>
            <div class="stages_icon_caption">Ремонт</div>
        </div>
    </div>
    <div id="modal-react-root"></div>
    <div class="stages_tiles">
        <% let i = 1; %>
        <% for (let tile of model.tiles) { %><!--
         --><div class="stages_tile" data-id="<%= i %>" style="background: url('/images/tile_backgrounds/<%= tile.backgroundFilename %>')">
                <div class="stages_tile_color_overlay stages_tile_color_overlay_<%= tile.backgroundColor.toLowerCase() %>">
                    <div class="stages_tile_icons">
                        <% for (let icon of tile.icons) { %>
                            <div class="stages_tile_icon stages_icon_image_<%= icon.name %>" title="<%= icon.caption %>"></div>
                        <% } %>
                    </div>
                    <div class="stages_tile_caption<%= tile.fontSize === 'big' ? '' : ' stages_tile_caption_fontSize_' + tile.fontSize %>"><%= tile.caption %></div>
                    <hr class="stages_tile_hr"/>
                </div>
            </div><% i++; %><!--
     --><% } %>
    </div>
</div>
<div class="specinstrument" id="specinstrument">
    <div class="specinstrument_caption">СПЕЦИНСТРУМЕНТ</div><br/>
    <div class="specinstrument_description">
        Предприятие имеет развитую производственно-технологическую базу, подготовленный промышленный персонал,
        позволяющий в короткие сроки осваивать и производить трудоемкую и высокотехнологичную продукцию.
    </div>
    <div class="specinstrument_content">
        <div class="specinstrument_columns">
            <div class="specinstrument_column_1">
                <p>Производство штампов и пресс-форм</p>
                <p>Производство режущего инструмента</p>
                <p>Производство мерительного инструмента</p>
                <p>Производство вспомогательного инструмента, оснастки и приспособлений</p>
                <p>Продукция общего машиностроения</p>
                <p>Механообрабатывающее производство</p>
                <p>Сварочное производство</p>
                <p>Металлорежущие станки</p>
            </div>
            <div class="specinstrument_column_2">
                <p>Термическое производство</p>
                <p>Гальвано-химическое производство</p>
                <p>Заготовительное производство</p>
                <p>Чугунное литье</p>
                <p>Стальное литье</p>
                <p>Цветное литье</p>
                <p>Кузнечное производство</p>
            </div>
        </div>
        <div class="specinstrument_image">
            <img src="/images/specinstrument.jpg" alt="Специнструмент"/>
        </div>
    </div>
</div>
<div class="contacts" id="contacts">
    <div class="contacts_caption">КОНТАКТЫ</div><br/>
    <div class="contacts_text">
        Почтовый адрес: 620142 г.Екатеринбург, ул. Щорса, 7<br/>
        Телефон: (343) 269-57-92, (343) 214-90-67(5)<br/>
        Факс: (343) 269-57-93<br/>
        E-mail: <a class="contacts_email" href="mailto:sinto@sintoural.ru" target="_top">sinto@sintoural.ru</a>
    </div>
</div>